.score{
    border: solid 2px var(--color-fiery-rose);
    width: 50px;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 1px;
    background-color: var(--color-floral-white);
    padding: 1px;
}
.pointer-a0, .pointer-b0, .pointer-c0 {
    width: 33%;
    background-color: var(--color-old-silver);
}
.pointer-a1, .pointer-b1, .pointer-c1, .pointer-a2, .pointer-b3, .pointer-a3{
    background-color: var(--color-mantis);
    width: 33%;

}
.pointer-b2, .pointer-c2{
    width: 33%;
    background-color: var(--color-old-silver);
}
.pointer-c3 {
    width: 33%;
    background-color: var(--color-old-silver);
}